body {
    background-color: rgb(35, 35, 40);
}

.navbar {
    padding-top: 40px;

}

.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlinks a {
    color: white;
    text-decoration: none; 
    list-style-type: none;
}

.navlinks .home {
    margin-right: auto;
    list-style-type: none;
    padding-left: 10%;
  }

.links {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    padding-right: 5%;
}
 
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1{
    color: rgb(246, 119, 107);
}

.title p{
    color: white;
    margin-top: -.5%;
}

/* Mid words */
.midWords{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    gap:2%;
    color: rgb(143, 143, 143);
    word-spacing: 5px;
    font-size:larger;
    margin-left: -10%;
}

.words{
    display: flex;
    gap:5%;
}

/* gird */

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: white;
    margin-top: 4%;
}

.box{
    background-color: white;
    border-radius: 25px;
    width: 20%;
    margin: 2%;
    padding: 3%;
}

.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    justify-content: center;
}

.row3 {
    display: flex;
    justify-content: center;
}

.box img{
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%;
    height: 20%;
    border: 1px solid black;
    margin-top: -5%;
}

.box h4{
    color: black;
    display: flex;
}

.box p{
    color: black;
    display: flex;
}