body {
    background-color: rgb(35, 35, 40);
}

.navbar {
    padding-top: 40px;

}

.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlinks a {
    color: white;
    text-decoration: none; 
    list-style-type: none;
}

.navlinks .home {
    margin-right: auto;
    list-style-type: none;
    padding-left: 10%;
  }

.links {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    padding-right: 5%;
}
 
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1{
    color: rgb(246, 119, 107);
}

.title p{
    color: white;
    margin-top: -.5%;
}

/* Mid words */
.midWords{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    gap:2%;
    color: rgb(143, 143, 143);
    word-spacing: 5px;
    font-size:larger;
    margin-left: -10%;
}

.words{
    display: flex;
    gap:5%;
}
